.label {
  display: inline-flex;
  align-items: center;
  max-width: 100%;
  min-width: 0;
  color: var(--sk-color-text-primary);
  font-family: var(--sk-font-family-inter);
  font-size: var(--sk-font-size-small);
  line-height: var(--sk-line-height-small);
  font-weight: var(--sk-font-weight-body-strong);
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
